// Gap
$gap-0: 0rem;
$gap-1: 0.25rem;
$gap-2: 0.5rem;
$gap-3: 0.75rem;
$gap-4: 1rem;
$gap-5: 1.25rem;
$gap-6: 1.5rem;
$gap-7: 1.75rem;
$gap-8: 2rem;
$gap-9: 2.25rem;
$gap-10: 2.5rem;
$gap-11: 2.75rem;
$gap-12: 3rem;
$gap-14: 3.5rem;
$gap-16: 4rem;
$gap-20: 5rem;
$gap-24: 6rem;
$gap-28: 7rem;
$gap-32: 8rem;
$gap-36: 9rem;
$gap-40: 10rem;

// Padding
$p-0: 0rem;
$p-1: 0.25rem;
$p-2: 0.5rem;
$p-3: 0.75rem;
$p-4: 1rem;
$p-5: 1.25rem;
$p-6: 1.5rem;
$p-7: 1.75rem;
$p-8: 2rem;
$p-9: 2.25rem;
$p-10: 2.5rem;
$p-11: 2.75rem;
$p-12: 3rem;
$p-14: 3.5rem;
$p-16: 4rem;
$p-20: 5rem;
$p-24: 6rem;
$p-28: 7rem;
$p-32: 8rem;
$p-36: 9rem;
$p-40: 10rem;
