// Color/Common
$text-primary: $primaryColor;
$text-color-primary: $primaryColorText;
$text-color: $textColor;
$text-color-secondary: $textSecondaryColor;
$text-white: $white-100;

// Color/Surface
$text-surface-0: $surface-0;
$text-surface-50: $surface-50;
$text-surface-100: $surface-100;
$text-surface-200: $surface-200;
$text-surface-300: $surface-300;
$text-surface-400: $surface-400;
$text-surface-500: $surface-500;
$text-surface-600: $surface-600;
$text-surface-700: $surface-700;
$text-surface-800: $surface-800;
$text-surface-900: $surface-900;

// Color/Service
$text-help: $help-400;
$text-info: $info-400;
$text-success: $success-400;
$text-warning: $warning-400;
$text-danger: $danger-400;

// Size
$text-xs: 0.75rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3rem;
$text-6xl: 3.75rem;
$text-7xl: 4.5rem;
$text-8xl: 6rem;
