// Экспортируемые переменный из figma Color scheme Ek5 Primary

// Groupless
$primary-0: var(--aquamarine-0);
$primary-900: var(--aquamarine-900);
$primary-800: var(--aquamarine-800);
$primary-700: var(--aquamarine-700);
$primary-600: var(--aquamarine-600);
$primary-500: var(--aquamarine-500);
$primary-400: var(--aquamarine-400);
$primary-300: var(--aquamarine-300);
$primary-200: var(--aquamarine-200);
$primary-100: var(--aquamarine-100);
$primary-50: var(--aquamarine-50);
$primary-alpha: var(--aquamarine-alpha);
