@use "sass:math";

@mixin style-severity($color-background, $border, $color-icon) {
    background: $color-background;
    border: $border;

    .p-toast-message-content {
        border-left: $messageBorderWidth solid $color-icon;
    }

    .p-toast-message-icon {
        color: $color-icon;

        &::before {
            content: "";
            @if $color-icon == $infoMessageIconColor {
                mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M6.46922%206.46922C8.93064%204.00781%2012.269%202.625%2015.75%202.625C19.231%202.625%2022.5694%204.00781%2025.0308%206.46922C27.4922%208.93064%2028.875%2012.269%2028.875%2015.75C28.875%2017.4736%2028.5355%2019.1803%2027.8759%2020.7727C27.2163%2022.3651%2026.2495%2023.812%2025.0308%2025.0308C23.812%2026.2495%2022.3651%2027.2163%2020.7727%2027.8759C19.1803%2028.5355%2017.4736%2028.875%2015.75%2028.875C14.0264%2028.875%2012.3197%2028.5355%2010.7273%2027.8759C9.13488%2027.2163%207.68799%2026.2495%206.46922%2025.0308C5.25045%2023.812%204.28367%2022.3651%203.62408%2020.7727C2.96449%2019.1803%202.625%2017.4736%202.625%2015.75C2.625%2012.269%204.00781%208.93064%206.46922%206.46922ZM15.75%205.25C12.9652%205.25%2010.2945%206.35625%208.32538%208.32538C6.35625%2010.2945%205.25%2012.9652%205.25%2015.75C5.25%2017.1289%205.52159%2018.4943%206.04926%2019.7682C6.57694%2021.0421%207.35036%2022.1996%208.32538%2023.1746C9.30039%2024.1496%2010.4579%2024.9231%2011.7318%2025.4507C13.0057%2025.9784%2014.3711%2026.25%2015.75%2026.25C17.1289%2026.25%2018.4943%2025.9784%2019.7682%2025.4507C21.0421%2024.9231%2022.1996%2024.1496%2023.1746%2023.1746C24.1496%2022.1996%2024.9231%2021.0421%2025.4507%2019.7682C25.9784%2018.4943%2026.25%2017.1289%2026.25%2015.75C26.25%2012.9652%2025.1438%2010.2945%2023.1746%208.32538C21.2055%206.35625%2018.5348%205.25%2015.75%205.25ZM14.4375%2011.8125C14.4375%2011.0876%2015.0251%2010.5%2015.75%2010.5H15.7631C16.488%2010.5%2017.0756%2011.0876%2017.0756%2011.8125C17.0756%2012.5374%2016.488%2013.125%2015.7631%2013.125H15.75C15.0251%2013.125%2014.4375%2012.5374%2014.4375%2011.8125ZM13.125%2015.75C13.125%2015.0251%2013.7126%2014.4375%2014.4375%2014.4375H15.75C16.4749%2014.4375%2017.0625%2015.0251%2017.0625%2015.75V19.6875C17.7874%2019.6875%2018.375%2020.2751%2018.375%2021C18.375%2021.7249%2017.7874%2022.3125%2017.0625%2022.3125H15.75C15.0251%2022.3125%2014.4375%2021.7249%2014.4375%2021V17.0625C13.7126%2017.0625%2013.125%2016.4749%2013.125%2015.75Z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E");
            }
            @if $color-icon == $successMessageIconColor {
                mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10.7273%203.62408C12.3197%202.96449%2014.0264%202.625%2015.75%202.625C17.4736%202.625%2019.1803%202.96449%2020.7727%203.62408C22.3651%204.28367%2023.812%205.25045%2025.0308%206.46922C26.2495%207.68799%2027.2163%209.13488%2027.8759%2010.7273C28.5355%2012.3197%2028.875%2014.0264%2028.875%2015.75C28.875%2017.4736%2028.5355%2019.1803%2027.8759%2020.7727C27.2163%2022.3651%2026.2495%2023.812%2025.0308%2025.0308C23.812%2026.2495%2022.3651%2027.2163%2020.7727%2027.8759C19.1803%2028.5355%2017.4736%2028.875%2015.75%2028.875C14.0264%2028.875%2012.3197%2028.5355%2010.7273%2027.8759C9.13488%2027.2163%207.68799%2026.2495%206.46922%2025.0308C5.25045%2023.812%204.28367%2022.3651%203.62408%2020.7727C2.96449%2019.1803%202.625%2017.4736%202.625%2015.75C2.625%2014.0264%202.96449%2012.3197%203.62408%2010.7273C4.28367%209.13488%205.25045%207.68799%206.46922%206.46922C7.68799%205.25045%209.13488%204.28367%2010.7273%203.62408ZM15.75%205.25C14.3711%205.25%2013.0057%205.52159%2011.7318%206.04927C10.4579%206.57694%209.30039%207.35036%208.32538%208.32538C7.35036%209.30039%206.57694%2010.4579%206.04926%2011.7318C5.52159%2013.0057%205.25%2014.3711%205.25%2015.75C5.25%2017.1289%205.52159%2018.4943%206.04926%2019.7682C6.57694%2021.0421%207.35036%2022.1996%208.32538%2023.1746C9.30039%2024.1496%2010.4579%2024.9231%2011.7318%2025.4507C13.0057%2025.9784%2014.3711%2026.25%2015.75%2026.25C17.1289%2026.25%2018.4943%2025.9784%2019.7682%2025.4507C21.0421%2024.9231%2022.1996%2024.1496%2023.1746%2023.1746C24.1496%2022.1996%2024.9231%2021.0421%2025.4507%2019.7682C25.9784%2018.4943%2026.25%2017.1289%2026.25%2015.75C26.25%2014.3711%2025.9784%2013.0057%2025.4507%2011.7318C24.9231%2010.4579%2024.1496%209.3004%2023.1746%208.32538C22.1996%207.35036%2021.0421%206.57694%2019.7682%206.04927C18.4943%205.52159%2017.1289%205.25%2015.75%205.25ZM20.6156%2012.1969C21.1281%2012.7095%2021.1281%2013.5405%2020.6156%2014.0531L15.3656%2019.3031C14.853%2019.8156%2014.022%2019.8156%2013.5094%2019.3031L10.8844%2016.6781C10.3719%2016.1655%2010.3719%2015.3345%2010.8844%2014.8219C11.397%2014.3094%2012.228%2014.3094%2012.7406%2014.8219L14.4375%2016.5188L18.7594%2012.1969C19.272%2011.6844%2020.103%2011.6844%2020.6156%2012.1969Z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E")
            }
            @if $color-icon == $warningMessageIconColor {
                mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M13.8726%202.6813C14.4456%202.3585%2015.0922%202.1889%2015.7498%202.1889C16.4075%202.1889%2017.0541%202.3585%2017.6271%202.6813C18.2001%203.00411%2018.6802%203.46922%2019.0209%204.03172L19.0244%204.03749L29.6635%2021.8035L29.6745%2021.8222C30.0079%2022.4004%2030.1842%2023.0558%2030.1859%2023.7232C30.1876%2024.3907%2030.0145%2025.0469%2029.684%2025.6268C29.3534%2026.2066%2028.8769%2026.6899%2028.3018%2027.0285C27.7266%2027.3672%2027.0728%2027.5494%2026.4054%2027.5571L26.3903%2027.5573L5.09464%2027.5572C4.42694%2027.5497%203.77284%2027.3674%203.1974%2027.0287C2.62196%2026.6899%202.14523%2026.2064%201.81463%2025.6263C1.48404%2025.0461%201.31109%2024.3895%201.313%2023.7218C1.31492%2023.054%201.49162%2022.3984%201.82553%2021.8202L1.83615%2021.8021L12.4542%204.07387C12.4621%204.05969%2012.4703%204.04563%2012.4787%204.03172C12.8195%203.46922%2013.2996%203.00411%2013.8726%202.6813ZM15.7498%204.8139C15.5435%204.8139%2015.3407%204.8671%2015.161%204.96835C14.9896%205.06491%2014.8447%205.20206%2014.739%205.36759C14.7351%205.37427%2014.7312%205.38091%2014.7273%205.38753L4.09449%2023.1403C3.99251%2023.3198%203.93858%2023.5227%203.93799%2023.7293C3.93739%2023.9387%203.99164%2024.1447%204.09533%2024.3267C4.19903%2024.5086%204.34856%2024.6603%204.52905%2024.7665C4.70781%2024.8718%204.91078%2024.9288%205.11812%2024.9322H26.3813C26.5885%2024.9287%2026.7913%2024.8717%2026.9699%2024.7665C27.1503%2024.6603%2027.2998%2024.5087%2027.4035%2024.3268C27.5072%2024.1449%2027.5614%2023.9391%2027.5609%2023.7297C27.5604%2023.5233%2027.5066%2023.3206%2027.4049%2023.1411L16.7758%205.39192C16.7754%205.39112%2016.7749%205.39032%2016.7744%205.38953C16.6676%205.21417%2016.5176%205.06914%2016.3386%204.96835C16.1589%204.8671%2015.9561%204.8139%2015.7498%204.8139ZM15.7498%2010.5C16.4747%2010.5%2017.0623%2011.0876%2017.0623%2011.8125V17.0625C17.0623%2017.7874%2016.4747%2018.375%2015.7498%2018.375C15.025%2018.375%2014.4373%2017.7874%2014.4373%2017.0625V11.8125C14.4373%2011.0876%2015.025%2010.5%2015.7498%2010.5ZM14.4373%2021C14.4373%2020.2751%2015.025%2019.6875%2015.7498%2019.6875H15.763C16.4878%2019.6875%2017.0755%2020.2751%2017.0755%2021C17.0755%2021.7249%2016.4878%2022.3125%2015.763%2022.3125H15.7498C15.025%2022.3125%2014.4373%2021.7249%2014.4373%2021Z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E")
            }
            @if $color-icon == $dangerMessageIconColor {
                mask: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10.7273%203.62408C12.3197%202.96449%2014.0264%202.625%2015.75%202.625C17.4736%202.625%2019.1803%202.96449%2020.7727%203.62408C22.3651%204.28367%2023.812%205.25045%2025.0308%206.46922C26.2495%207.68799%2027.2163%209.13488%2027.8759%2010.7273C28.5355%2012.3197%2028.875%2014.0264%2028.875%2015.75C28.875%2017.4736%2028.5355%2019.1803%2027.8759%2020.7727C27.2163%2022.3651%2026.2495%2023.812%2025.0308%2025.0308C23.812%2026.2495%2022.3651%2027.2163%2020.7727%2027.8759C19.1803%2028.5355%2017.4736%2028.875%2015.75%2028.875C14.0264%2028.875%2012.3197%2028.5355%2010.7273%2027.8759C9.13488%2027.2163%207.68799%2026.2495%206.46922%2025.0308C5.25045%2023.812%204.28367%2022.3651%203.62408%2020.7727C2.96449%2019.1803%202.625%2017.4736%202.625%2015.75C2.625%2014.0264%202.96449%2012.3197%203.62408%2010.7273C4.28367%209.13488%205.25045%207.68799%206.46922%206.46922C7.68799%205.25045%209.13488%204.28367%2010.7273%203.62408ZM15.75%205.25C14.3711%205.25%2013.0057%205.52159%2011.7318%206.04927C10.4579%206.57694%209.30039%207.35036%208.32538%208.32538C7.35036%209.30039%206.57694%2010.4579%206.04926%2011.7318C5.52159%2013.0057%205.25%2014.3711%205.25%2015.75C5.25%2017.1289%205.52159%2018.4943%206.04926%2019.7682C6.57694%2021.0421%207.35036%2022.1996%208.32538%2023.1746C9.30039%2024.1496%2010.4579%2024.9231%2011.7318%2025.4507C13.0057%2025.9784%2014.3711%2026.25%2015.75%2026.25C17.1289%2026.25%2018.4943%2025.9784%2019.7682%2025.4507C21.0421%2024.9231%2022.1996%2024.1496%2023.1746%2023.1746C24.1496%2022.1996%2024.9231%2021.0421%2025.4507%2019.7682C25.9784%2018.4943%2026.25%2017.1289%2026.25%2015.75C26.25%2014.3711%2025.9784%2013.0057%2025.4507%2011.7318C24.9231%2010.4579%2024.1496%209.3004%2023.1746%208.32538C22.1996%207.35036%2021.0421%206.57694%2019.7682%206.04927C18.4943%205.52159%2017.1289%205.25%2015.75%205.25ZM12.1969%2012.1969C12.7095%2011.6844%2013.5405%2011.6844%2014.0531%2012.1969L15.75%2013.8938L17.4469%2012.1969C17.9595%2011.6844%2018.7905%2011.6844%2019.3031%2012.1969C19.8156%2012.7095%2019.8156%2013.5405%2019.3031%2014.0531L17.6062%2015.75L19.3031%2017.4469C19.8156%2017.9595%2019.8156%2018.7905%2019.3031%2019.3031C18.7905%2019.8156%2017.9595%2019.8156%2017.4469%2019.3031L15.75%2017.6062L14.0531%2019.3031C13.5405%2019.8156%2012.7095%2019.8156%2012.1969%2019.3031C11.6844%2018.7905%2011.6844%2017.9595%2012.1969%2017.4469L13.8938%2015.75L12.1969%2014.0531C11.6844%2013.5405%2011.6844%2012.7095%2012.1969%2012.1969Z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E");
            }
            width: $text-4xl;
            height: $text-4xl;
            display: block;
            background-color: $color-icon;
        }
    }

    .p-toast-icon-close {
        color: $color-icon;
        border: $border;

        background: transparent;

        &:hover {
            color: $color-icon;
            border-color: $color-icon;

            box-shadow: $buttonHoverShadow;
            transition: $formElementTransition;
        }
    }
}

.p-toast {
    opacity: $toastOpacity;

    .p-toast-message {
        overflow: hidden;

        margin: $toastMargin;
        box-shadow: $toastShadow;
        border-radius: $borderRadius;

        .p-toast-message-content {
            gap: 1rem;

            padding: $toastPadding;
            border-left-width: $toastBorderWidth;
            border-left-style: solid;

            .p-toast-message-text {
                margin: $toastMessageTextMargin;
            }

            .p-toast-message-icon {
                font-size: $toastIconFontSize;
                .p-icon-wrapper {
                    display: none;
                }
                &.p-icon {
                    width: $toastIconFontSize;
                    height: $toastIconFontSize;
                }
            }

            .p-toast-summary {
                font-weight: $toastTitleFontWeight;
                font-size: $messageTextSummaryFontSize;
                color: $messageTextSummaryColor;

                margin: auto 0;
            }

            .p-toast-detail {
                font-weight: $messageTextDetailFontWeight;
                font-size: $messageTextDetailFontSize;
                color: $messageTextDetailColor;

                margin-top: 0.25rem;
            }
        }

        .p-toast-icon-close {
            width: $toastIconFontSize;
            height: $toastIconFontSize;
            border-radius: $actionIconBorderRadius;
            background: $surface-ground;
            transition: $actionIconTransition;
        }

        &.p-toast-message-info {
            @include style-severity(
                $color-background: $infoMessageBg,
                $border: $infoMessageBorder,
                $color-icon: $infoMessageIconColor
            );
        }

        &.p-toast-message-success {
            @include style-severity(
                $color-background: $successMessageBg,
                $border: $successMessageBorder,
                $color-icon: $successMessageIconColor
            );
        }

        &.p-toast-message-warn {
            @include style-severity(
                $color-background: $warningMessageBg,
                $border: $warningMessageBorder,
                $color-icon: $warningMessageIconColor
            );
        }

        &.p-toast-message-error {
            @include style-severity(
                $color-background: $dangerMessageBg,
                $border: $dangerMessageBorder,
                $color-icon: $dangerMessageIconColor
            );
        }
    }
}
