// Экспортируемые переменный из figma Color scheme brand Secondary

// Groupless
$primary-0: var(--citrine-0);
$primary-900: var(--citrine-900);
$primary-800: var(--citrine-800);
$primary-700: var(--citrine-700);
$primary-600: var(--citrine-600);
$primary-500: var(--citrine-500);
$primary-400: var(--citrine-400);
$primary-300: var(--citrine-300);
$primary-200: var(--citrine-200);
$primary-100: var(--citrine-100);
$primary-50: var(--citrine-50);
$primary-alpha: var(--citrine-alpha);
