@use "sass:math";

@mixin stepper-highlight-styles {
  .p-stepper-number {
    color: $highlightTextColor;
    background-color: $primaryColor;
    border-color: transparent;
  }
  .p-stepper-icon {
    color: $text-primary;
  }
  .p-stepper-action.p-danger {
    .p-stepper-number {
      color: $highlightTextColor;
      background-color: $danger-400;
    }
  }
}

//theme
.p-stepper {
  .p-stepper-nav {
    display: flex;
    gap: $inlineSpacing;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    overflow-x: auto;
  }
  // это обёртка над p-stepperheader
  .p-stepper-header {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    padding: $inlineSpacing 0;

    &.p-disabled {
      opacity: 1; // Костыль на прозрачность
      cursor: initial;

      .p-stepper-action {
        opacity: $disabledOpacity;
      }
    }

    &:not(.p-disabled):focus-visible {
      @include focused();
    }

    &.p-highlight {
      .p-stepper-title {
        color: $textColor;
      }
    }

    &:has(~ .p-highlight) {
      .p-stepper-separator {
        background-color: $primaryColor;
      }
    }

    &.p-highlight, &:has(~ .p-highlight) {
      @include stepper-highlight-styles;
    }
  }

  p-stepperheader {
    .p-stepper-action {
      display: inline-flex;
      align-items: center;
      flex-grow: 0;
      transition: $listItemTransition;
      border-radius: $borderRadius;
      background: $stepsItemBg;
      outline-color: transparent;
      padding: 0;

      &:hover {
        cursor: pointer;
      }

      &:not(.p-disabled):focus-visible {
        @include focused();
      }

      .p-stepper-number {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: $stepsItemFontWeight;
        color: $stepsItemNumberColor;
        border: $stepsItemBorder;
        background: $stepsItemBg;
        min-width: $stepsItemNumberWidth;
        height: $stepsItemNumberHeight;
        line-height: 1;
        font-size: $stepsItemNumberFontSize;
        border-radius: $stepsItemNumberBorderRadius;
        transition: $actionIconTransition;
      }

      .p-stepper-title {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        margin-left: $inlineSpacing;
        color: $stepsItemTextColor;
        font-weight: $stepsItemFontWeight;
        transition: $actionIconTransition;
      }

      .p-stepper-title-wrapper {
        @apply flex flex-col gap-1 items-start leading-none;
        margin-left: $inlineSpacing;

        .p-stepper-title {
          margin-left: 0;
        }
      }

      .p-stepper-icon {
        @apply inline-flex items-center justify-center leading-none text-2xl;
        min-width: $stepsItemNumberWidth;
        height: $stepsItemNumberHeight;
      }

      &.p-danger {
        .p-stepper-number,
        .p-stepper-icon {
          color: $danger-400;
        }
      }
    }
  }

  .p-stepper-panels {
    background: $tabviewContentBg;
    padding: $tabviewContentPadding;
    color: $tabviewContentTextColor;
  }

  .p-stepper-panel {
    &.p-stepper-panel-active, &:has(~ .p-stepper-panel-active) {
      @include stepper-highlight-styles;
    }
  }

  .p-stepper-separator {
    background-color: $timelineEventColor;
    width: 100%;
    height: 1px;
    margin-inline-start: $inlineSpacing;
    transition: $listItemTransition;
  }

  &.no-line {
    .p-stepper-separator {
        background-color: transparent!important;
    }
  }

  &.p-stepper-vertical {
    display: flex;
    flex-direction: column;

    .p-stepper-toggleable-content {
      display: flex;
      flex: 1 1 auto;
      background: $tabviewContentBg;
      color: $tabviewContentTextColor;
    }

    .p-stepper-panel {
      display: flex;
      flex-direction: column;
      flex: initial;

      &.p-stepper-panel-active {
        flex: 1 1 auto;
      }

      .p-stepper-header {
        flex: initial;
      }

      .p-stepper-content {
        width: 100%;
        padding-left: calc($inlineSpacing * 2);
      }

      .p-stepper-separator {
        flex: 0 0 auto;
        width: 2px;
        height: auto;
        margin-inline-start: calc($inlineSpacing * 7 / 2 + 2px);
      }

      &:has(~ .p-stepper-panel-active) {
        .p-stepper-separator {
          background-color: $primaryColor;
        }
      }

      &:last-of-type {
        .p-stepper-content {
          padding-left: calc($inlineSpacing * 6);
        }
      }
    }
  }
}
