.p-menubar {
    display: flex;
    padding: $overlayMenuPadding;
    align-items: flex-end;
    border-radius: $borderRadius;
    border: $overlayMenuBorder;
    background-color: $overlayMenuBg;
    box-shadow: $overlayMenuShadow;

    // .p-menubar-root-list .p-menuitem:first-of-type {
    //     margin-top: $menuitemSpacing;
    // }
    @include menuitem();
    @include menuitem-separator();

    [class*='list'][level='0'] {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: $menuitemSpacing;

        & > .p-menuitem {
            margin: 0;
        }
    }

    [class*='list']:not([level='0']) {
        min-width: $menuWidth;
        z-index: 2;
    }

    [class*='list'][level='1'] {
        margin-top: $menuitemSpacing;
        &.p-menuitem:first-of-type {
            margin-top: $menuitemSpacing;
        }
    }

    [class*='list']:not([level='0']):not([level='1']) {
        margin-left: $menuitemSpacing;
        margin-top: -$menuitemSpacing;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .p-menuitem-link {
        cursor: pointer;
        display: flex;
        align-items: center;
        text-decoration: none;
        overflow: hidden;
        position: relative;
    }

    .p-menuitem-text {
        line-height: 1;
    }

    .p-menuitem {
        position: relative;
        margin-top: $menuitemSpacing;

        &[data-p-highlight='true'] {
            & > .p-menuitem-content > .p-menuitem-link {
                background-color: $menuitemActiveHoverBg;
                color: $menuitemActiveTextColor;
            }

            & > .p-menuitem-content > .p-menuitem-link:hover {
                .p-menuitem-icon {
                    color: $menuitemActiveTextColor;
                }

                .p-menuitem-text {
                    color: $menuitemActiveTextColor;
                }

                .p-submenu-icon {
                    color: $menuitemActiveIconColor;
                }
            }
        }

        &.p-menuitem:first-of-type {
            margin-top: $menuitemSpacing;
        }

        .p-submenu-list {
            display: none;
            position: absolute;
            z-index: 2;
            background-color: $overlayMenuBg;
            border-radius: $borderRadius;
            border: $overlayMenuBorder;
            background-color: $overlayMenuBg;
        }

        .p-submenu-list .p-menuitem-link .p-submenu-icon:not(svg) {
            margin-left: auto;
        }
        .p-menubar-root-list .p-icon-wrapper {
            margin-left: auto;
        }
        .p-submenu-list .p-menuitem-link .p-icon-wrapper {
            margin-left: auto;
        }

        .p-menubar-custom,
        .p-menubar-end {
            margin-left: auto;
            align-self: center;
        }
    }

    .p-menubar-root-list {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    .p-menubar-root-list > li ul {
        display: none;
        z-index: 1;
    }

    @media screen and (min-width: 960px) {
        .p-submenu-list > .p-menuitem-active > p-menubarsub > .p-submenu-list {
            display: block;
            left: 100%;
            top: 0;
        }

        .p-menubar-root-list > .p-menuitem-active > p-menubarsub > .p-submenu-list {
            display: block;
        }
    }

    .p-menubar-button {
        display: none;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 960px) {
    .p-menubar {
        position: relative;
        align-items: center;

        .p-menubar-button {
            display: flex;

            @include action-icon(false);
            transition: $actionIconTransition;
        }

        .p-menuitem-active[aria-expanded='false'] .p-submenu-list {
            display: none;
        }

        .p-menuitem-active[aria-expanded='true'] > p-menubarsub > .p-submenu-list {
            display: block;
            position: relative;
            left: auto;
            top: auto;
            border: 0;
        }

        [aria-expanded='true'] + p-menubarsub .p-menubar-root-list {
            display: block;
        }

        .p-menubar-root-list {
            position: absolute;
            left: 0;
            top: 100%;
            display: none;
            flex-direction: column;

            min-width: $menuWidth;

            border-radius: $borderRadius;
            border: $overlayMenuBorder;

            padding: $overlayMenuPadding;
            margin-top: $menuitemSpacing;

            background-color: $overlayMenuBg;
            box-shadow: $overlayMenuShadow;
            border-radius: $borderRadius;

            z-index: 2;

            [aria-expanded='false'] {
                .p-submenu-icon {
                    transform: rotate(-90deg);
                }
            }
        }

        .p-submenu-list {
            width: 100%;
            display: none;
            border: none;
            border-radius: 0;

            margin: 0 !important;
            padding: $overlayMenuPadding 0 0 $menuNodeChildrenPadding;
            border-radius: $borderRadius;

            box-shadow: none;

            [aria-expanded='false'] {
                .p-submenu-icon {
                    transform: rotate(0deg);
                }
            }

            [aria-expanded='true'] {
                .p-submenu-icon {
                    transform: rotate(90deg);
                }
            }
        }
    }
}
