<p-sidebar [visible]="isActive" (visibleChange)="onVisibleChange($event)" position="right"
    styleClass="layout-config w-full sm:!w-26">
    <div class="p-2">
        <section class="pb-4 flex items-center justify-between border-bottom-1 surface-border">
            <span class="text-xl font-semibold">Scale</span>
            <div class="flex items-center gap-2 border-1 surface-border py-1 px-2" style="border-radius: 30px">
                <button icon="pi pi-minus" type="button" pButton (click)="decrementScale()"
                    class="p-button-text p-button-rounded !w-2 !h-2" [disabled]="scale === scales[0]"></button>
                <div class="flex gap-2 items-center">
                    <i class="pi pi-circle-fill text-sm text-200" *ngFor="let s of scales"
                        [ngClass]="{ 'text-lg text-primary': s === scale }"></i>
                </div>
                <button icon="pi pi-plus" type="button" pButton (click)="incrementScale()"
                    class="p-button-text p-button-rounded !w-2 !h-2"
                    [disabled]="scale === scales[scales.length - 1]"></button>
            </div>
        </section>

        <section class="py-4 flex items-center justify-between border-bottom-1 surface-border">
            <span class="text-xl font-semibold">Input Style</span>
            <p-selectButton [options]="inputStyles" [(ngModel)]="inputStyle" (onChange)="onInputStyleChange($event)"
                optionLabel="label" optionValue="value" allowEmpty="false"></p-selectButton>
        </section>

        <section class="py-4 flex items-center justify-between border-bottom-1 surface-border">
            <span class="text-xl font-semibold">Ripple Effect</span>
            <p-inputSwitch [(ngModel)]="ripple" (onChange)="onRippleChange($event)"></p-inputSwitch>
        </section>
        <section class="py-4 flex items-center justify-between border-bottom-1 surface-border">
            <span [ngClass]="{ 'p-disabled': isDarkToggleDisabled }" class="text-xl font-semibold">Dark Mode</span>
            <p-inputSwitch [ngModel]="isDarkMode" (onChange)="toggleDarkMode()" [disabled]="isDarkToggleDisabled" />
        </section>

        <section class="py-4 border-bottom-1 surface-border">
            <div class="text-xl font-semibold mb-3">Themes</div>
            <div class="flex items-center gap-2 mb-3">
                <span class="font-medium">ek5</span>
            </div>
            <div class="flex items-center gap-3 mb-3">
                <button
                    [ngClass]="{ 'border-primary': isThemeActive('ek5', 'primary'), 'hover:border-500 surface-border': !isThemeActive('ek5', 'primary') }"
                    class="bg-transparent border-1 cursor-pointer p-1 !w-4/12 flex items-center justify-center transition-all transition-duration-200"
                    style="border-radius: 30px" (click)="changeTheme('ek5', 'primary')">
                    <span class="flex items-center justify-center !h-2 w-full vertical-align-baseline"
                          style="border-radius: 30px; background: color(srgb 0.054902 0.505098 0.455686); color: white">PRIMARY</span>
                </button>

                <button
                    [ngClass]="{ 'border-primary': isThemeActive('ek5', 'secondary'), 'hover:border-500 surface-border': !isThemeActive('ek5', 'secondary') }"
                    class="bg-transparent border-1 cursor-pointer p-2 !w-4/12 flex items-center justify-center transition-all transition-duration-200"
                    style="border-radius: 30px" (click)="changeTheme('ek5', 'secondary')">
                    <span class="flex items-center justify-center !h-2 w-full"
                          style="border-radius: 30px; background: color(srgb 0.245882 0.181176 0.524118); color: white">SECONDARY</span>
                </button>
            </div>

            <div class="flex items-center gap-2 mb-3">
                <span class="font-medium">Brand</span>
            </div>
            <div class="flex items-center gap-3 mb-3">
                <button
                    [ngClass]="{ 'border-primary': isThemeActive('brand', 'primary'), 'hover:border-500 surface-border': !isThemeActive('brand', 'primary') }"
                    class="bg-transparent border-1 cursor-pointer p-1 !w-4/12 flex items-center justify-center transition-all transition-duration-200"
                    style="border-radius: 30px" (click)="changeTheme('brand', 'primary')">
                    <span class="flex items-center justify-center !h-2 w-full vertical-align-baseline"
                          style="border-radius: 30px; background: color(srgb 0.112549 0.527059 0.321176); color: white">PRIMARY</span>
                </button>

                <button
                    [ngClass]="{ 'border-primary': isThemeActive('brand', 'secondary'), 'hover:border-500 surface-border': !isThemeActive('brand', 'secondary') }"
                    class="bg-transparent border-1 cursor-pointer p-2 !w-4/12 flex items-center justify-center transition-all transition-duration-200"
                    style="border-radius: 30px" (click)="changeTheme('brand', 'secondary')">
                    <span class="flex items-center justify-center !h-2 w-full"
                          style="border-radius: 30px; background: color(srgb 0.686275 0.367843 0.0164706); color: white">SECONDARY</span>
                </button>
            </div>
        </section>
    </div>
</p-sidebar>
