@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@tabler/icons-webfont/dist/tabler-icons.min.css';

@font-face {
  font-family: 'TT Fellows';
  src: url('./assets/fonts/tt-fellows/TT_Fellows_Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Fellows';
  src: url('./assets/fonts/tt-fellows/TT_Fellows_DemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/noto-sans/NotoSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('./assets/fonts/noto-sans/NotoSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 14px;
}

body .css-3rewwu {
  background: rgb(245 246 248);
}

body.dark-mode {
  background: var(--p-content-background, #18181b);

  .css-3rewwu {
    background: var(--p-content-background, #18181b);
  }
}
