.p-dialog {
    border-radius: $borderRadius;
    box-shadow: $overlayContainerShadow;
    border: $overlayContentBorder;

    .p-dialog-header {
        border-bottom: $dialogHeaderBorder;
        background: $dialogHeaderBg;
        color: $dialogHeaderTextColor;
        padding: $dialogHeaderPadding;
        border-top-right-radius: $borderRadius;
        border-top-left-radius: $borderRadius;

        .p-dialog-title {
            font-weight: $dialogHeaderFontWeight;
            font-size: $dialogHeaderFontSize;
        }

        .p-dialog-header-icon {
            @include action-icon();
            margin-right: $inlineSpacing;
            box-shadow: none;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &-danger .p-dialog-title::before,
    &-success .p-dialog-title::before,
    &-info .p-dialog-title::before,
    &-warning .p-dialog-title::before,
    &-help .p-dialog-title::before{
        content: '';
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        background-size: contain;
        margin-right: $dialogHeaderIconPadding;
        vertical-align: text-bottom;
    }
    &-danger .p-dialog-title::before{
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.15152 2.91605C8.21312 2.47633 9.35093 2.25 10.5 2.25C11.6491 2.25 12.7869 2.47633 13.8485 2.91605C14.9101 3.35578 15.8747 4.0003 16.6872 4.81282C17.4997 5.62533 18.1442 6.58992 18.5839 7.65152C19.0237 8.71312 19.25 9.85093 19.25 11C19.25 12.1491 19.0237 13.2869 18.5839 14.3485C18.1442 15.4101 17.4997 16.3747 16.6872 17.1872C15.8747 17.9997 14.9101 18.6442 13.8485 19.0839C12.7869 19.5237 11.6491 19.75 10.5 19.75C9.35093 19.75 8.21312 19.5237 7.15152 19.0839C6.08992 18.6442 5.12533 17.9997 4.31282 17.1872C3.5003 16.3747 2.85578 15.4101 2.41605 14.3485C1.97633 13.2869 1.75 12.1491 1.75 11C1.75 9.85093 1.97633 8.71312 2.41605 7.65152C2.85578 6.58992 3.5003 5.62533 4.31282 4.81282C5.12533 4.0003 6.08992 3.35578 7.15152 2.91605ZM10.5 4C9.58075 4 8.6705 4.18106 7.82122 4.53284C6.97194 4.88463 6.20026 5.40024 5.55025 6.05025C4.90024 6.70026 4.38463 7.47194 4.03284 8.32122C3.68106 9.1705 3.5 10.0807 3.5 11C3.5 11.9193 3.68106 12.8295 4.03284 13.6788C4.38463 14.5281 4.90024 15.2997 5.55025 15.9497C6.20026 16.5998 6.97194 17.1154 7.82122 17.4672C8.67049 17.8189 9.58075 18 10.5 18C11.4193 18 12.3295 17.8189 13.1788 17.4672C14.0281 17.1154 14.7997 16.5998 15.4497 15.9497C16.0998 15.2997 16.6154 14.5281 16.9672 13.6788C17.3189 12.8295 17.5 11.9193 17.5 11C17.5 10.0807 17.3189 9.17049 16.9672 8.32122C16.6154 7.47194 16.0998 6.70026 15.4497 6.05025C14.7997 5.40024 14.0281 4.88463 13.1788 4.53284C12.3295 4.18106 11.4193 4 10.5 4ZM8.13128 8.63128C8.47299 8.28957 9.02701 8.28957 9.36872 8.63128L10.5 9.76256L11.6313 8.63128C11.973 8.28957 12.527 8.28957 12.8687 8.63128C13.2104 8.97299 13.2104 9.52701 12.8687 9.86872L11.7374 11L12.8687 12.1313C13.2104 12.473 13.2104 13.027 12.8687 13.3687C12.527 13.7104 11.973 13.7104 11.6313 13.3687L10.5 12.2374L9.36872 13.3687C9.02701 13.7104 8.47299 13.7104 8.13128 13.3687C7.78957 13.027 7.78957 12.473 8.13128 12.1313L9.26256 11L8.13128 9.86872C7.78957 9.52701 7.78957 8.97299 8.13128 8.63128Z" fill="%23E26E63"/></svg>') no-repeat;
    }
    &-success .p-dialog-title::before{
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.15152 2.91605C8.21312 2.47633 9.35093 2.25 10.5 2.25C11.6491 2.25 12.7869 2.47633 13.8485 2.91605C14.9101 3.35578 15.8747 4.0003 16.6872 4.81282C17.4997 5.62533 18.1442 6.58992 18.5839 7.65152C19.0237 8.71312 19.25 9.85093 19.25 11C19.25 12.1491 19.0237 13.2869 18.5839 14.3485C18.1442 15.4101 17.4997 16.3747 16.6872 17.1872C15.8747 17.9997 14.9101 18.6442 13.8485 19.0839C12.7869 19.5237 11.6491 19.75 10.5 19.75C9.35093 19.75 8.21312 19.5237 7.15152 19.0839C6.08992 18.6442 5.12533 17.9997 4.31282 17.1872C3.5003 16.3747 2.85578 15.4101 2.41605 14.3485C1.97633 13.2869 1.75 12.1491 1.75 11C1.75 9.85093 1.97633 8.71312 2.41605 7.65152C2.85578 6.58992 3.5003 5.62533 4.31282 4.81282C5.12533 4.0003 6.08992 3.35578 7.15152 2.91605ZM10.5 4C9.58075 4 8.6705 4.18106 7.82122 4.53284C6.97194 4.88463 6.20026 5.40024 5.55025 6.05025C4.90024 6.70026 4.38463 7.47194 4.03284 8.32122C3.68106 9.1705 3.5 10.0807 3.5 11C3.5 11.9193 3.68106 12.8295 4.03284 13.6788C4.38463 14.5281 4.90024 15.2997 5.55025 15.9497C6.20026 16.5998 6.97194 17.1154 7.82122 17.4672C8.67049 17.8189 9.58075 18 10.5 18C11.4193 18 12.3295 17.8189 13.1788 17.4672C14.0281 17.1154 14.7997 16.5998 15.4497 15.9497C16.0998 15.2997 16.6154 14.5281 16.9672 13.6788C17.3189 12.8295 17.5 11.9193 17.5 11C17.5 10.0807 17.3189 9.17049 16.9672 8.32122C16.6154 7.47194 16.0998 6.70026 15.4497 6.05025C14.7997 5.40024 14.0281 4.88463 13.1788 4.53284C12.3295 4.18106 11.4193 4 10.5 4ZM13.7437 8.63128C14.0854 8.97299 14.0854 9.52701 13.7437 9.86872L10.2437 13.3687C9.90201 13.7104 9.34799 13.7104 9.00628 13.3687L7.25628 11.6187C6.91457 11.277 6.91457 10.723 7.25628 10.3813C7.59799 10.0396 8.15201 10.0396 8.49372 10.3813L9.625 11.5126L12.5063 8.63128C12.848 8.28957 13.402 8.28957 13.7437 8.63128Z" fill="%2368C170"/></svg>') no-repeat;
    }
    &-warning .p-dialog-title::before{
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.24855 2.2875C9.63056 2.07229 10.0616 1.95923 10.5 1.95923C10.9385 1.95923 11.3695 2.07229 11.7515 2.2875C12.1335 2.5027 12.4536 2.81277 12.6808 3.18777L12.6831 3.19162L19.7759 15.0356L19.7832 15.0481C20.0055 15.4335 20.123 15.8705 20.1241 16.3154C20.1252 16.7604 20.0098 17.1979 19.7895 17.5845C19.5691 17.9711 19.2514 18.2932 18.868 18.519C18.4846 18.7447 18.0487 18.8662 17.6038 18.8714L17.5937 18.8715L3.39659 18.8714C2.95146 18.8664 2.51539 18.7449 2.13176 18.5191C1.74813 18.2933 1.43031 17.9709 1.20992 17.5841C0.98952 17.1974 0.874224 16.7596 0.875499 16.3145C0.876773 15.8693 0.994574 15.4322 1.21718 15.0467L1.22426 15.0347L8.30299 3.21587C8.30825 3.20642 8.31369 3.19705 8.31931 3.18777C8.5465 2.81277 8.86655 2.5027 9.24855 2.2875ZM10.5 3.70923C10.3625 3.70923 10.2273 3.74469 10.1075 3.81219C9.99324 3.87657 9.89665 3.968 9.82613 4.07836C9.82357 4.0828 9.82097 4.08723 9.81833 4.09164L2.72982 15.9268C2.66184 16.0465 2.62589 16.1818 2.62549 16.3195C2.62509 16.4591 2.66126 16.5964 2.73039 16.7177C2.79952 16.839 2.8992 16.9401 3.01953 17.011C3.13871 17.0811 3.27402 17.1192 3.41225 17.1214H17.5877C17.7258 17.1191 17.861 17.0811 17.9801 17.011C18.1004 16.9401 18.2 16.8391 18.2691 16.7178C18.3383 16.5966 18.3745 16.4594 18.3741 16.3198C18.3738 16.1822 18.3379 16.047 18.2701 15.9274L11.1841 4.09457C11.1837 4.09404 11.1834 4.09351 11.1831 4.09298C11.1119 3.97607 11.0119 3.87939 10.8926 3.81219C10.7728 3.74469 10.6376 3.70923 10.5 3.70923ZM10.5001 7.49997C10.9833 7.49997 11.3751 7.89172 11.3751 8.37497V11.875C11.3751 12.3582 10.9833 12.75 10.5001 12.75C10.0168 12.75 9.62506 12.3582 9.62506 11.875V8.37497C9.62506 7.89172 10.0168 7.49997 10.5001 7.49997ZM9.62506 14.5C9.62506 14.0167 10.0168 13.625 10.5001 13.625H10.5088C10.9921 13.625 11.3838 14.0167 11.3838 14.5C11.3838 14.9832 10.9921 15.375 10.5088 15.375H10.5001C10.0168 15.375 9.62506 14.9832 9.62506 14.5Z" fill="%23FFB330"/></svg>') no-repeat;
    }
    &-info .p-dialog-title::before{
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.31282 4.81282C5.95376 3.17187 8.17936 2.25 10.5 2.25C12.8206 2.25 15.0462 3.17187 16.6872 4.81282C18.3281 6.45376 19.25 8.67936 19.25 11C19.25 12.1491 19.0237 13.2869 18.5839 14.3485C18.1442 15.4101 17.4997 16.3747 16.6872 17.1872C15.8747 17.9997 14.9101 18.6442 13.8485 19.0839C12.7869 19.5237 11.6491 19.75 10.5 19.75C9.35093 19.75 8.21312 19.5237 7.15152 19.0839C6.08992 18.6442 5.12533 17.9997 4.31282 17.1872C3.5003 16.3747 2.85578 15.4101 2.41605 14.3485C1.97633 13.2869 1.75 12.1491 1.75 11C1.75 8.67936 2.67187 6.45376 4.31282 4.81282ZM10.5 4C8.64348 4 6.86301 4.7375 5.55025 6.05025C4.2375 7.36301 3.5 9.14348 3.5 11C3.5 11.9193 3.68106 12.8295 4.03284 13.6788C4.38463 14.5281 4.90024 15.2997 5.55025 15.9497C6.20026 16.5998 6.97194 17.1154 7.82122 17.4672C8.67049 17.8189 9.58075 18 10.5 18C11.4193 18 12.3295 17.8189 13.1788 17.4672C14.0281 17.1154 14.7997 16.5998 15.4497 15.9497C16.0998 15.2997 16.6154 14.5281 16.9672 13.6788C17.3189 12.8295 17.5 11.9193 17.5 11C17.5 9.14348 16.7625 7.36301 15.4497 6.05025C14.137 4.7375 12.3565 4 10.5 4ZM9.625 8.375C9.625 7.89175 10.0168 7.5 10.5 7.5H10.5087C10.992 7.5 11.3837 7.89175 11.3837 8.375C11.3837 8.85825 10.992 9.25 10.5087 9.25H10.5C10.0168 9.25 9.625 8.85825 9.625 8.375ZM8.75 11C8.75 10.5168 9.14175 10.125 9.625 10.125H10.5C10.9832 10.125 11.375 10.5168 11.375 11V13.625C11.8582 13.625 12.25 14.0168 12.25 14.5C12.25 14.9832 11.8582 15.375 11.375 15.375H10.5C10.0168 15.375 9.625 14.9832 9.625 14.5V11.875C9.14175 11.875 8.75 11.4832 8.75 11Z" fill="%2349A2EF"/></svg>') no-repeat;
    }
    &-help .p-dialog-title::before{
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="22" viewBox="0 0 21 22" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.31282 4.81282C5.95376 3.17187 8.17936 2.25 10.5 2.25C12.8206 2.25 15.0462 3.17187 16.6872 4.81282C18.3281 6.45376 19.25 8.67936 19.25 11C19.25 12.1491 19.0237 13.2869 18.5839 14.3485C18.1442 15.4101 17.4997 16.3747 16.6872 17.1872C15.8747 17.9997 14.9101 18.6442 13.8485 19.0839C12.7869 19.5237 11.6491 19.75 10.5 19.75C9.35093 19.75 8.21312 19.5237 7.15152 19.0839C6.08992 18.6442 5.12533 17.9997 4.31282 17.1872C3.5003 16.3747 2.85578 15.4101 2.41605 14.3485C1.97633 13.2869 1.75 12.1491 1.75 11C1.75 8.67936 2.67187 6.45376 4.31282 4.81282ZM10.5 4C8.64348 4 6.86301 4.7375 5.55025 6.05025C4.2375 7.36301 3.5 9.14348 3.5 11C3.5 11.9193 3.68106 12.8295 4.03284 13.6788C4.38463 14.5281 4.90024 15.2997 5.55025 15.9497C6.20026 16.5998 6.97194 17.1154 7.82122 17.4672C8.67049 17.8189 9.58075 18 10.5 18C11.4193 18 12.3295 17.8189 13.1788 17.4672C14.0281 17.1154 14.7997 16.5998 15.4497 15.9497C16.0998 15.2997 16.6154 14.5281 16.9672 13.6788C17.3189 12.8295 17.5 11.9193 17.5 11C17.5 9.14348 16.7625 7.36301 15.4497 6.05025C14.137 4.7375 12.3565 4 10.5 4ZM9.99829 7.55089C10.5752 7.43547 11.1741 7.51853 11.6978 7.78656C12.2234 8.05459 12.6434 8.49186 12.89 9.02783C13.1367 9.56409 13.1955 10.1679 13.0568 10.7416C12.9181 11.3154 12.5901 11.8257 12.1257 12.1901C11.6613 12.5545 11.0877 12.7518 10.4974 12.75C10.0141 12.7486 9.62355 12.3556 9.625 11.8724C9.62646 11.3891 10.0194 10.9986 10.5026 11C10.6994 11.0006 10.8906 10.9349 11.0454 10.8134C11.2002 10.6919 11.3096 10.5218 11.3558 10.3306C11.402 10.1393 11.3824 9.93804 11.3002 9.75929C11.2179 9.58053 11.0778 9.43472 10.9025 9.34539L10.9008 9.34452C10.7285 9.25627 10.5314 9.2289 10.3416 9.26688C10.1518 9.30486 9.98043 9.40595 9.85536 9.5537C9.54314 9.92255 8.99103 9.96846 8.62218 9.65624C8.25333 9.34403 8.20742 8.79191 8.51964 8.42306C8.89995 7.97377 9.42109 7.66638 9.99829 7.55089ZM10.5 13.625C10.9832 13.625 11.375 14.0168 11.375 14.5V14.5087C11.375 14.992 10.9832 15.3837 10.5 15.3837C10.0168 15.3837 9.625 14.992 9.625 14.5087V14.5C9.625 14.0168 10.0168 13.625 10.5 13.625Z" fill="%23AB77DF"/></svg>') no-repeat;
    }

    .p-dialog-content {
        background: $overlayContentBg;
        color: $panelContentTextColor;
        padding: $dialogContentPadding;

        &:last-of-type {
            border-bottom-right-radius: $borderRadius;
            border-bottom-left-radius: $borderRadius;
        }
    }

    .p-dialog-footer {
        display: flex;

        border-top:  $dialogFooterBorder;
        background: $overlayContentBg;
        color: $panelFooterTextColor;
        padding: $dialogFooterPadding;
        text-align: right;
        border-bottom-right-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;

        button {
            width: auto;
        }
    }

    .p-confirm-dialog-accept {
        order: 1;
    }

    .p-confirm-dialog-reject {
        order: 2;
    }

    &.p-dialog-maximized {
        .p-dialog-header, .p-dialog-content:last-of-type {
            border-radius: 0;
        }
    }


    &.p-confirm-dialog {
        .p-confirm-dialog-icon {
            font-size: $primeIconFontSize * 2;

            &.p-icon {
                width: $primeIconFontSize * 2;
                height: $primeIconFontSize * 2;
            }
        }

        .p-confirm-dialog-message {}
        .p-dialog-footer{
            flex-direction: row-reverse;
            gap: $dialogFooterButtonGap;

            // TODO удалить после исправления в кнопках
            i.none{
                display: none;
            }
        }
    }
}
