.p-tooltip .p-tooltip-text {
    background: $tooltipBg;
    color: $tooltipTextColor;
    padding: $tooltipPadding;
    box-shadow: $buttonHoverShadow;
    border-radius: $borderRadius;
}

.p-tooltip-arrow {
    border-color: transparent;
}

.p-tooltip-right .p-tooltip-arrow,
.p-tooltip-left .p-tooltip-arrow {
    margin-top: -0.25rem;
}


.p-tooltip-top .p-tooltip-arrow,
.p-tooltip-bottom .p-tooltip-arrow {
    margin-left: -0.25rem;
}


.p-tooltip-right .p-tooltip-arrow {
    border-width: 0.25em 0.25em 0.25em 0;
    border-right-color: $tooltipBg;
}

.p-tooltip-left .p-tooltip-arrow {
    border-width: 0.25em 0 0.25em 0.25rem;
    border-left-color: $tooltipBg;
}

.p-tooltip-top .p-tooltip-arrow {
    border-width: 0.25em 0.25em 0;
    border-top-color: $tooltipBg; 
}

.p-tooltip-bottom .p-tooltip-arrow {
    border-width: 0 0.25em 0.25rem;
    border-bottom-color: $tooltipBg;
}
